<nav class="navbar">
    <div>
        <h1>Catalogo de Productos</h1>    
    </div>
    <div class="navbar-buttons">
        <div>
        <button (click)="irAlInventario()">Ir al Inventario</button>
        </div>
        <div>
        <button (click)="irAlCarrito()">Ir al Carrito</button>
        </div>
    </div>
</nav>

<div class="productos">
    <div *ngFor="let producto of productos" class="producto">
        <img [src]="producto.ImagenPrincipal">
        <h3>{{ producto.Nombre }}</h3>
        <p>Precio: ${{ producto.Precio }}</p>
        <p>{{ producto.StockDisponible }} unidades</p>
        <button (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
    </div>
</div>