<div class="container">
  <div class="left-section">
      <!-- Contenido de la sección izquierda (Agregar Producto, etc.) -->
      <h2>Agregar Producto</h2>
      <!-- ...otros elementos... -->
      <input [(ngModel)]="nuevoProducto.Nombre" placeholder="Nombre" />
      <input [(ngModel)]="nuevoProducto.StockDisponible" placeholder="Cantidad" type="number" />
      <input [(ngModel)]="nuevoProducto.Precio" placeholder="Precio" type="number" />
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      <button (click)="crearProducto()">Agregar</button>

      <div>
      </div>
      
      <div>
        <input type="file" (change)="cargarCatalogoDesdeXML($event)" accept=".xml" />
        <button (click)="cargarCatalogoDesdeXML($event)">Cargar Catálogo desde XML</button>
      </div>

      <!-- Botón para regresar al catálogo -->
      <button (click)="irAlCatalogo()">Regresar al Catálogo</button>
  </div>
  <div class="right-section">
      <!-- Contenido de la sección derecha (Lista de Productos) -->
      <h2>Lista de Productos</h2>
      <!-- ...otros elementos... -->
      <ul>
  <li *ngFor="let producto of productos">
    <img [src]="producto.ImagenPrincipal" alt="{{ producto.Nombre }}" width="50" height="50" />
    <span>{{ producto.Nombre }} (ID: {{ producto.Id }}) - Cantidad: {{ producto.StockDisponible }}, Precio: {{ producto.Precio }}</span>
    <button (click)="modificarProducto(producto)">Modificar</button>
    <button (click)="eliminarProducto(producto.Id)">Eliminar</button>
  </li>
</ul>
      <button (click)="generarXML()">Generar y Descargar XML</button>
  </div>
</div>